
.tabmenu {
  overflow: hidden;
  background-color: #ED503B;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
.tabmenu a {
  float: left;
  display: block;
  color: #f8f8f8;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  font-size: 10px;
}

.iconbawah {
	color: #eee;
}