* {
	box-sizing: border-box;
}

.warnaheader {
	background-color: #ED503B;
}

input.caribar {
	border-radius: 25px;
	width: 240px;
}

.fontputih {
	color: white;
}

.tabmenu {
  overflow: hidden;
  background-color: #ED503B;
  position: fixed;
  bottom: 0;
  width: 100%;
  
}
.tabmenu a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  font-size: 10px;
}

.iconbawah {
	color: #eee;
}